body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  #fifth{
    display: block;
  }
  #sixth{
    display: none;
  }
  
  #bd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5em;
    color: #2d2def;
    margin-bottom: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  td {
    padding: 10px;
    font-size: 1.1em;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  input[type="button"] {
    background-color: #286db7;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  input[type="button"]:hover {
    background-color: #031cf8;
  }
  
  input[type="text"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  footer {
    font-size: 0.9em;
    color: #777777;
    margin-top: 30px;
  }
  
  footer span {
    color: #307bf3;
  }